<div id="<%= dom_id twitterclon %>">
  <p>
    <strong>Description:</strong>
    <%= twitterclon.description %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= twitterclon.username %>
  </p>

</div>
