<h1>Editing twitterclon</h1>
<%= render "form", twitterclon: @twitterclon %>
<br>
<div>
  <%= link_to "Show this twitterclon", @twitterclon %> |
  <%= link_to "Back to twitterclons", twitterclons_path %>
</div>
